<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:com/jeveris/core/config/jeveris-core.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>multipartFilter</filter-name>
    <filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
    <init-param>
      <param-name>multipartResolverBeanName</param-name>
      <param-value>filterMultipartResolver</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>multipartFilter</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>j-everis-xss-filter</filter-name>
    <filter-class>com.jeveris.xss.sec.web.filter.RequestValidationFilter</filter-class>
    <init-param>
      <param-name>Validator1</param-name>
      <param-value>com.jeveris.xss.sec.standard.RequestValidationImplProvider</param-value>
    </init-param>
    <init-param>
      <param-name>Parameter1-1</param-name>
      <param-value>parameters: config/xss/fields.properties</param-value>
    </init-param>
    <init-param>
      <param-name>Parameter1-2</param-name>
      <param-value>headers: config/xss/headers.properties</param-value>
    </init-param>
    <init-param>
      <param-name>Parameter1-3</param-name>
      <param-value>validations: config/xss/validations.properties</param-value>
    </init-param>
    <init-param>
      <param-name>Parameter1-4</param-name>
      <param-value>cookies: config/xss/cookies.properties</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>j-everis-xss-filter</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <servlet-name>Spring MVC Servlet</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>requestTimesLogger</filter-name>
    <filter-class>com.jeveris.web.core.filter.log.PerformanceLogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>requestTimesLogger</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>j-everis-internationalization-filter</filter-name>
    <filter-class>com.jeveris.web.core.filter.i18n.InternationalizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>j-everis-internationalization-filter</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>monitoringFilter</filter-name>
    <filter-class>com.dgoj.web.monitoring.filter.MonotoringFilter</filter-class>
    <init-param>
      <param-name>excluirURLs</param-name>
      <param-value>Logout.jsp,monitor</param-value>
    </init-param>
    <init-param>
      <param-name>bloquear</param-name>
      <param-value>N</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>monitoringFilter</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Spring MVC Servlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Spring MVC Servlet</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/error500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/error400.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>