body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 20px;
    padding: 0;
    color: #2D2D1F;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
}


ul, ol, dl { 
    padding-right: 0px;
    padding-left: 20px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    margin: 0;
}

li { 
    padding-right: 0px;
    padding-left: 5px; 
    padding-top: 3px; 
    padding-bottom: 2px; 
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    display: block;
    margin-top: 20px;    
    margin-bottom: 3px;
    padding-right: 0px;
    padding-left: 0px; 
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    color:#403f3f;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-decoration:none;
    color:#403f3f;
}

a img { 
    border: none;
}

a:link {
    color: #3366CC;
    text-decoration: none;
}

a:visited {
    color: #3366CC;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

p {
    margin-top: 7px;     
    padding-right: 0px;
    padding-left: 0px; 
}
                
